<div class=" centered-layout">
    <div class="col-md-6 mx-auto ">
        <div class="card rounded-0 registerPanel shadow centered-layout">
            <div class="card-header title-Name">
                <h3 class="mb-0  text-center ">Επαναφορά Κωδικού στο BugLog </h3>
            </div>
            <div class="card-body">

              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="lead">
                      Παρακαλείστε να εισχωρήσετε το Username ή το email που επιθυμείτε να αλλάξετε κωδικό.
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                    <label for="">Username/Email</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 ">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control rounded-0" [(ngModel)]="usernameValidate" name="text" required>
                        </div>
                    </div>
                </div>
                <div *ngIf="emailIsValid" class="form-group">
                    <label for=""> Password </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" name="password" class="form-control rounded-0"
                                required>
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" (mousedown)="showPassword = true;" (mouseup)="showPassword = false"><i
                                        [ngClass]='showPassword ? "fa fa-eye-slash": "fa fa-eye "'></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="">Confirm Password </label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="passwordCheck" name="password" class="form-control rounded-0"
                                required>

                        </div>
                    </div>
                </div>
                <button (click)='retrivePassword()' type="button" class="btn btn-success float-right">Eπαναφορά κωδικού</button>

            </div>

        </div>
    </div>

</div>