<div class="row bg-dark pb-5 pt-5">
  <div class="col-12">
    <div class="container">
        <p class="h3 text-white text-center"> Πλατφόρμα Αναφοράς και Αποσφαλμάτωσης Πληροφοριακού Υλικού ΓΕΑ/ΚΜΗ &#174;</p>
    </div>
  </div>
</div>

<div class="row bg-dark pb-5 pt-5">
    <div class="col-12">
      <div class="container">
        <div class="row justify-content-center pb-3">
          <div class="col-3 th-app" data-step='1'>
            <div class="th-wrap pt-4 pb-4 rounded">
              <div class="item mx-auto rounded-circle d-block th-thumb justify-content-center align-self-center">
                <img src="assets/img/labs.png" class='imgExp' alt="">
                <div class="fume-div"></div>
              </div>
              <div class="text-white text-center d-block mt-4">
                <a class="h5">ΘΑΛΗΣ</a><br>
                <small class="mt-3 text-light w-75 d-block mx-auto">Εφαρμογή Διαχείρησης Στρατιωτικού και Πολιτικού Προσωπικού</small>
              </div>
            </div>
          </div>
          <div class="col-3 th-app" data-step='3'>
            <div class="th-wrap pt-4 pb-4 rounded">
              <div class="item mx-auto rounded-circle d-block th-thumb justify-content-center align-self-center">
                  <img src="assets/img/animations.png" class='imgExp' alt="">
                  <div class="fume-div"></div>
              </div>
              <div class="text-center text-white d-block mt-4">
                <a class="h5">HRM</a><br>
                <small class="mt-3 text-light w-75 d-block mx-auto">Εφαρμογή Διαχείρησης Στρατιωτικού και Πολιτικού Προσωπικού</small>
              </div>
            </div>
          </div>
          <div class="col-3 th-app">
            <div class="th-wrap pt-4 pb-4 rounded">
              <div class="item mx-auto rounded-circle d-block th-thumb justify-content-center align-self-center">
                  <img src="assets/img/cli.png" class='imgExp' alt="">
                  <div class="fume-div"></div>
              </div>
              <div class="text-white text-center d-block mt-4">
                <a class="h5">ΙΑΣΙΣ</a><br>
                <small class="mt-3 text-light w-75 d-block mx-auto">Εφαρμογή Διαχείρησης Στρατιωτικού και Πολιτικού Προσωπικού</small>
              </div>
            </div>
            </div>
          <div class="col-3 th-app">
            <div class="th-wrap pt-4 pb-4 rounded">
              <div class="item mx-auto rounded-circle d-block th-thumb justify-content-center align-self-center">
                  <img src="assets/img/language-services.png" class='imgExp' alt="">
                  <div class="fume-div"></div>
              </div>
              <div class="text-white text-center d-block mt-4">
                <a class="h5">ΙΡΙΔΑ</a><br>
                <small class="mt-3 text-light w-75 d-block mx-auto">Εφαρμογή Διαχείρησης Στρατιωτικού και Πολιτικού Προσωπικού</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row bg-light pt-5 pb-5">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="border rounded">
            <p class="h4 text-dark p-3 border-bottom">ΓΝΩΡΙΣΤΕ ΤΗΝ ΕΦΑΡΜΟΓΗ</p>
            <p class="card-text p-3 text-muted">
              Επιλέγοντας να πλοηγηθείτε στην εφαρμόγη σας ξεναγούμε στο νεο σύστημα αποσφαλμάτωσης με μια μικρή Περιήγηση
            </p>
            <div class="text-center p-3">
              <img class="shadow-lg mt-2 mb-2 w-30" src="../../../../assets/img/demoGif.gif" alt="gif tutorial">
              <div class="d-block pt-5 mb-3">
                <button [routerLink]="['/report/demo']" class="btn btn-outline-primary">Πλοήγηση <i class="fa fa-send"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="border rounded">
            <p class="h4 text-dark p-3 border-bottom">ΠΕΡΙΗΓΗΣΗ</p>
            <div class="p-3 mb-2">
              <a class="d-block p-2 pl-3 pr-3 text-info" [routerLink]="['/reports']"><i class="fa fa-caret-right"></i>&nbsp;Οι αναφορές μου</a>
              <a class="d-block p-2 pl-3 pr-3 text-info" [routerLink]="['/report/new']"><i class="fa fa-caret-right"></i>&nbsp;Nεα αναφορά</a>
              <a class="d-block p-2 pl-3 pr-3 text-info" [routerLink]="['/application']"><i class="fa fa-caret-right"></i>&nbsp;Σύνολο Εφαρμογών</a>
              <a class="d-block p-2 pl-3 pr-3 text-info" [routerLink]="['/application/new']"><i class="fa fa-caret-right"></i>&nbsp;Νεα εφαρμογή</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>